---
headline: ""
subhead: ""
published_date: "March 22, 2020"
site: ""
siteName: "money-media"
url: ""
kicker: ""
author:
    name: "Ming Li"
    url: ""
    twitterHandle: ""
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/basic }}

<!-- 
  Charts are exactly the same.
-->

{{> story/chart }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

<div class="story-body">
  <h2>About the Project:</h2>
  <p>I used <strong>sawhorse</strong> to build the whole page.</p>
   <p>Details of the <a href='https://github.com/mingligraphics/money-media/tree/master/Data%20%26%20Coding'>datasets</a>,<a href="https://github.com/mingligraphics/money-media/blob/master/Data%20%26%20Coding/3.%20Uninsured%20Americans.ipynb"> codes</a> and the <a href="https://github.com/mingligraphics/money-media/tree/master/Orginal%20Graphics">original graphics</a> are on the project's <a href='https://github.com/mingligraphics/money-media'>Github page</a>.</p>
</div>
